@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #239DFA, #14C0E3, #17FDE6);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d7d94be;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color: #1720FD;
   text-align: center;
   text-shadow: 1px 1px 0 #1116a1c4;
}

h2 {
   color: #239DFA;
}